venv
venv/*
__pycache__
*.pyc
.DS_Store
.idea
*.iml
*.log
*.sqlite3
instance
.env
.env.*
.pytest_cache
htmlcov
.coverage
.coverage.*
*.egg-info
dist
build
*.egg
pip-wheel-metadata
__pypackages__ 
.mypy_cache
.pyre/
.pytype/
.pyright/
.pytest_cache/
vectorstore/
vectorstore/*
chat.db